@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
/*FONT WEIGHTS*/
/*COLOURS*/
/*VALUES*/
/*FLEX BEHAVIORS*/
.card, body, header, header .about, main, main .howto, main .restaurants, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .howto, main .restaurants {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__info, .banner--menu, header .place, header .about, .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*FONTS*/
.starters__title,
.dishes__title,
.desserts__title {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
}

/*BUTTONS*/
.submit__order, .about .explore {
  border-radius: 30px;
  padding: 1.2rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
}

.submit__order:hover, .about .explore:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff8ade), to(#a06be1));
  background: linear-gradient(to bottom right, #ff8ade, #a06be1);
  -webkit-box-shadow: 5px 5px 10px #A0A0A0;
          box-shadow: 5px 5px 10px #A0A0A0;
}

/*BACKGROUNDS*/
.card__img--1, .card__img--2, .card__img--3, .card__img--4 {
  background-size: cover;
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer ul {
  font-size: 0.9rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
  margin-left: 2rem;
}

footer ul li {
  margin-bottom: .4rem;
}

footer ul li .icon {
  padding-right: .5rem;
}

.footer__logo {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2rem;
  color: white;
  margin-left: 2rem;
}

/*FLEX BEHAVIORS*/
.card, body, header, header .about, main, main .howto, main .restaurants, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .howto, main .restaurants {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__info, .banner--menu, header .place, header .about, .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*FONTS*/
.starters__title,
.dishes__title,
.desserts__title {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
}

/*BUTTONS*/
.submit__order, .about .explore {
  border-radius: 30px;
  padding: 1.2rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
}

.submit__order:hover, .about .explore:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff8ade), to(#a06be1));
  background: linear-gradient(to bottom right, #ff8ade, #a06be1);
  -webkit-box-shadow: 5px 5px 10px #A0A0A0;
          box-shadow: 5px 5px 10px #A0A0A0;
}

/*BACKGROUNDS*/
.card__img--1, .card__img--2, .card__img--3, .card__img--4 {
  background-size: cover;
}

/*HEART ANIMATION*/
.heart-animation {
  cursor: pointer;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

#heart1:checked ~ .heart-animation,
#heart2:checked ~ .heart-animation,
#heart3:checked ~ .heart-animation,
#heart4:checked ~ .heart-animation,
#heart-menu-1:checked ~ .heart-animation,
#heart-menu-2:checked ~ .heart-animation,
#heart-menu-3:checked ~ .heart-animation,
#heart-menu-4:checked ~ .heart-animation {
  -webkit-animation: like .4s;
          animation: like .4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(96%, #FF79DA), color-stop(96%, #fff));
  background: linear-gradient(to top, #FF79DA 96%, #fff 96%);
  background-size: auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*I used the background-clip: text value because the full and empty heart icon have exactly the same code
in FontAwesome, so I used this little trick to make the border. It is an experimental property
so I checked in caniuse to see if it was okay to use it with Firefox and Chrome at least.
I tried different ways to do the heart and it was my favorite one so I kept it.*/
.heart-animation {
  position: relative;
}

.heart-animation:after {
  content: '\f004';
  font-family: "Font Awesome 5 Free";
  font-size: 1.6rem;
  color: white;
  background: #393939;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: -1px;
  top: -2px;
}

input {
  display: none;
}

/*To avoid repetitions, I made a mixin which allows me to customize the linear-gradient for each step
of the animation. You can find it in '_mixins.scss'*/
@-webkit-keyframes like {
  0% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(0%, #fff));
    background: linear-gradient(to top, #FF79DA 0%, #fff 0%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  25% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #FF79DA), color-stop(25%, #fff));
    background: linear-gradient(to top, #FF79DA 25%, #fff 25%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #FF79DA), color-stop(50%, #fff));
    background: linear-gradient(to top, #FF79DA 50%, #fff 50%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  75% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(75%, #FF79DA), color-stop(75%, #fff));
    background: linear-gradient(to top, #FF79DA 75%, #fff 75%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #FF79DA), to(#fff));
    background: linear-gradient(to top, #FF79DA 100%, #fff 100%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes like {
  0% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(0%, #fff));
    background: linear-gradient(to top, #FF79DA 0%, #fff 0%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  25% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #FF79DA), color-stop(25%, #fff));
    background: linear-gradient(to top, #FF79DA 25%, #fff 25%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #FF79DA), color-stop(50%, #fff));
    background: linear-gradient(to top, #FF79DA 50%, #fff 50%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  75% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(75%, #FF79DA), color-stop(75%, #fff));
    background: linear-gradient(to top, #FF79DA 75%, #fff 75%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #FF79DA), to(#fff));
    background: linear-gradient(to top, #FF79DA 100%, #fff 100%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

/*LOADING SPINNER*/
.loading {
  height: 200vh;
  width: 100%;
  -webkit-animation: loading_background 3.8s;
          animation: loading_background 3.8s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  position: absolute;
  z-index: 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loading__spinner {
  -webkit-animation: loading_spinner 1s;
          animation: loading_spinner 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 3;
  top: 270px;
  margin-left: auto;
  margin-right: auto;
  left: 80px;
  right: 0;
  will-change: transform;
}

@-webkit-keyframes loading_background {
  0% {
    background: black;
    opacity: 0.8;
  }
  25% {
    background: black;
    opacity: 0.8;
  }
  50% {
    background: black;
    opacity: 0.2;
    /*z-index: 1;
    -> my first idea was to use z-index and decrease it to make it disapear,
    but it was jerky and some elements seemed to pop up because of their z-index which were higher*/
  }
  75% {
    background: black;
    opacity: 0.1;
    /*z-index: 0;*/
  }
  100% {
    background: black;
    opacity: 0;
    height: 0;
  }
}

@keyframes loading_background {
  0% {
    background: black;
    opacity: 0.8;
  }
  25% {
    background: black;
    opacity: 0.8;
  }
  50% {
    background: black;
    opacity: 0.2;
    /*z-index: 1;
    -> my first idea was to use z-index and decrease it to make it disapear,
    but it was jerky and some elements seemed to pop up because of their z-index which were higher*/
  }
  75% {
    background: black;
    opacity: 0.1;
    /*z-index: 0;*/
  }
  100% {
    background: black;
    opacity: 0;
    height: 0;
  }
}

@-webkit-keyframes loading_spinner {
  0% {
    border: 8px solid #99E2D0;
    border-bottom-color: #9356DC;
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    border: 8px solid #99E2D0;
    border-bottom-color: #9356DC;
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes loading_spinner {
  0% {
    border: 8px solid #99E2D0;
    border-bottom-color: #9356DC;
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    border: 8px solid #99E2D0;
    border-bottom-color: #9356DC;
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

/*SLIDE-UP FOR STARTERS, DISHES AND DESSERTS SECTIONS*/
.starters {
  -webkit-animation: slide-up 2s;
          animation: slide-up 2s;
}

.dishes {
  -webkit-animation: slide-up 6s;
          animation: slide-up 6s;
}

.desserts {
  -webkit-animation: slide-up 10s;
          animation: slide-up 10s;
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*DISH SELECTION*/
.dish-select__animation {
  cursor: pointer;
}

.dish-select__animation--25:before {
  content: "25€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--35:before {
  content: "35€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--20:before {
  content: "20€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--40:before {
  content: "40€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--44:before {
  content: "44€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--18:before {
  content: "18€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--22:before {
  content: "22€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--23:before {
  content: "23€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation:after {
  content: '\f058';
  font-family: "Font Awesome 5 Free";
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem .9rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #99E2D0;
  opacity: 0;
}

/*I know this is a lot of selectors... but using an id for each dish allows the user
to keep his/her choices (when coming back to a page, the inputs are still checked).
This is important I think, to allow him/her to order at the end.*/
#price1:checked ~ .dish-select__animation:after,
#price2:checked ~ .dish-select__animation:after,
#price3:checked ~ .dish-select__animation:after,
#price4:checked ~ .dish-select__animation:after,
#price5:checked ~ .dish-select__animation:after,
#price6:checked ~ .dish-select__animation:after,
#price7:checked ~ .dish-select__animation:after,
#price8:checked ~ .dish-select__animation:after,
#price9:checked ~ .dish-select__animation:after,
#price10:checked ~ .dish-select__animation:after,
#price11:checked ~ .dish-select__animation:after,
#price12:checked ~ .dish-select__animation:after,
#price13:checked ~ .dish-select__animation:after,
#price14:checked ~ .dish-select__animation:after,
#price15:checked ~ .dish-select__animation:after,
#price16:checked ~ .dish-select__animation:after,
#price17:checked ~ .dish-select__animation:after,
#price18:checked ~ .dish-select__animation:after,
#price19:checked ~ .dish-select__animation:after,
#price20:checked ~ .dish-select__animation:after,
#price21:checked ~ .dish-select__animation:after,
#price22:checked ~ .dish-select__animation:after,
#price23:checked ~ .dish-select__animation:after,
#price24:checked ~ .dish-select__animation:after,
#price25:checked ~ .dish-select__animation:after,
#price26:checked ~ .dish-select__animation:after,
#price27:checked ~ .dish-select__animation:after,
#price28:checked ~ .dish-select__animation:after,
#price29:checked ~ .dish-select__animation:after,
#price30:checked ~ .dish-select__animation:after,
#price31:checked ~ .dish-select__animation:after,
#price32:checked ~ .dish-select__animation:after,
#price33:checked ~ .dish-select__animation:after,
#price34:checked ~ .dish-select__animation:after,
#price35:checked ~ .dish-select__animation:after,
#price36:checked ~ .dish-select__animation:after,
#price37:checked ~ .dish-select__animation:after {
  -webkit-animation: dish-check .3s;
          animation: dish-check .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#price1:checked ~ .dish-select__animation:before,
#price2:checked ~ .dish-select__animation:before,
#price3:checked ~ .dish-select__animation:before,
#price4:checked ~ .dish-select__animation:before,
#price5:checked ~ .dish-select__animation:before,
#price6:checked ~ .dish-select__animation:before,
#price7:checked ~ .dish-select__animation:before,
#price8:checked ~ .dish-select__animation:before,
#price9:checked ~ .dish-select__animation:before,
#price10:checked ~ .dish-select__animation:before,
#price11:checked ~ .dish-select__animation:before,
#price12:checked ~ .dish-select__animation:before,
#price13:checked ~ .dish-select__animation:before,
#price14:checked ~ .dish-select__animation:before,
#price15:checked ~ .dish-select__animation:before,
#price16:checked ~ .dish-select__animation:before,
#price17:checked ~ .dish-select__animation:before,
#price18:checked ~ .dish-select__animation:before,
#price19:checked ~ .dish-select__animation:before,
#price20:checked ~ .dish-select__animation:before,
#price21:checked ~ .dish-select__animation:before,
#price22:checked ~ .dish-select__animation:before,
#price23:checked ~ .dish-select__animation:before,
#price24:checked ~ .dish-select__animation:before,
#price25:checked ~ .dish-select__animation:before,
#price26:checked ~ .dish-select__animation:before,
#price27:checked ~ .dish-select__animation:before,
#price28:checked ~ .dish-select__animation:before,
#price29:checked ~ .dish-select__animation:before,
#price30:checked ~ .dish-select__animation:before,
#price31:checked ~ .dish-select__animation:before,
#price32:checked ~ .dish-select__animation:before,
#price33:checked ~ .dish-select__animation:before,
#price34:checked ~ .dish-select__animation:before,
#price35:checked ~ .dish-select__animation:before,
#price36:checked ~ .dish-select__animation:before,
#price37:checked ~ .dish-select__animation:before {
  -webkit-animation: price-translation .3s;
          animation: price-translation .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes dish-check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dish-check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes price-translation {
  from {
    right: 1rem;
  }
  to {
    right: 4rem;
  }
}

@keyframes price-translation {
  from {
    right: 1rem;
  }
  to {
    right: 4rem;
  }
}

/*FLEX BEHAVIORS*/
.card, body, header, header .about, main, main .howto, main .restaurants, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .howto, main .restaurants {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__info, .banner--menu, header .place, header .about, .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*FONTS*/
.starters__title,
.dishes__title,
.desserts__title {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
}

/*BUTTONS*/
.submit__order, .about .explore {
  border-radius: 30px;
  padding: 1.2rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
}

.submit__order:hover, .about .explore:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff8ade), to(#a06be1));
  background: linear-gradient(to bottom right, #ff8ade, #a06be1);
  -webkit-box-shadow: 5px 5px 10px #A0A0A0;
          box-shadow: 5px 5px 10px #A0A0A0;
}

/*BACKGROUNDS*/
.card__img--1, .card__img--2, .card__img--3, .card__img--4 {
  background-size: cover;
}

/*FLEX BEHAVIORS*/
.card, body, header, header .about, main, main .howto, main .restaurants, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .howto, main .restaurants {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__info, .banner--menu, header .place, header .about, .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*FONTS*/
.starters__title,
.dishes__title,
.desserts__title {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
}

/*BUTTONS*/
.submit__order, .about .explore {
  border-radius: 30px;
  padding: 1.2rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
}

.submit__order:hover, .about .explore:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff8ade), to(#a06be1));
  background: linear-gradient(to bottom right, #ff8ade, #a06be1);
  -webkit-box-shadow: 5px 5px 10px #A0A0A0;
          box-shadow: 5px 5px 10px #A0A0A0;
}

/*BACKGROUNDS*/
.card__img--1, .card__img--2, .card__img--3, .card__img--4 {
  background-size: cover;
}

/*HEART ANIMATION*/
.heart-animation {
  cursor: pointer;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

#heart1:checked ~ .heart-animation,
#heart2:checked ~ .heart-animation,
#heart3:checked ~ .heart-animation,
#heart4:checked ~ .heart-animation,
#heart-menu-1:checked ~ .heart-animation,
#heart-menu-2:checked ~ .heart-animation,
#heart-menu-3:checked ~ .heart-animation,
#heart-menu-4:checked ~ .heart-animation {
  -webkit-animation: like .4s;
          animation: like .4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(96%, #FF79DA), color-stop(96%, #fff));
  background: linear-gradient(to top, #FF79DA 96%, #fff 96%);
  background-size: auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*I used the background-clip: text value because the full and empty heart icon have exactly the same code
in FontAwesome, so I used this little trick to make the border. It is an experimental property
so I checked in caniuse to see if it was okay to use it with Firefox and Chrome at least.
I tried different ways to do the heart and it was my favorite one so I kept it.*/
.heart-animation {
  position: relative;
}

.heart-animation:after {
  content: '\f004';
  font-family: "Font Awesome 5 Free";
  font-size: 1.6rem;
  color: white;
  background: #393939;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: -1px;
  top: -2px;
}

input {
  display: none;
}

/*To avoid repetitions, I made a mixin which allows me to customize the linear-gradient for each step
of the animation. You can find it in '_mixins.scss'*/
@keyframes like {
  0% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(0%, #fff));
    background: linear-gradient(to top, #FF79DA 0%, #fff 0%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  25% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #FF79DA), color-stop(25%, #fff));
    background: linear-gradient(to top, #FF79DA 25%, #fff 25%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #FF79DA), color-stop(50%, #fff));
    background: linear-gradient(to top, #FF79DA 50%, #fff 50%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  75% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(75%, #FF79DA), color-stop(75%, #fff));
    background: linear-gradient(to top, #FF79DA 75%, #fff 75%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background: #FF79DA;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #FF79DA), to(#fff));
    background: linear-gradient(to top, #FF79DA 100%, #fff 100%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

/*LOADING SPINNER*/
.loading {
  height: 200vh;
  width: 100%;
  -webkit-animation: loading_background 3.8s;
          animation: loading_background 3.8s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  position: absolute;
  z-index: 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loading__spinner {
  -webkit-animation: loading_spinner 1s;
          animation: loading_spinner 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 3;
  top: 270px;
  margin-left: auto;
  margin-right: auto;
  left: 80px;
  right: 0;
  will-change: transform;
}

@keyframes loading_background {
  0% {
    background: black;
    opacity: 0.8;
  }
  25% {
    background: black;
    opacity: 0.8;
  }
  50% {
    background: black;
    opacity: 0.2;
    /*z-index: 1;
    -> my first idea was to use z-index and decrease it to make it disapear,
    but it was jerky and some elements seemed to pop up because of their z-index which were higher*/
  }
  75% {
    background: black;
    opacity: 0.1;
    /*z-index: 0;*/
  }
  100% {
    background: black;
    opacity: 0;
    height: 0;
  }
}

@keyframes loading_spinner {
  0% {
    border: 8px solid #99E2D0;
    border-bottom-color: #9356DC;
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    border: 8px solid #99E2D0;
    border-bottom-color: #9356DC;
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

/*SLIDE-UP FOR STARTERS, DISHES AND DESSERTS SECTIONS*/
.starters {
  -webkit-animation: slide-up 2s;
          animation: slide-up 2s;
}

.dishes {
  -webkit-animation: slide-up 6s;
          animation: slide-up 6s;
}

.desserts {
  -webkit-animation: slide-up 10s;
          animation: slide-up 10s;
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*DISH SELECTION*/
.dish-select__animation {
  cursor: pointer;
}

.dish-select__animation--25:before {
  content: "25€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--35:before {
  content: "35€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--20:before {
  content: "20€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--40:before {
  content: "40€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--44:before {
  content: "44€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--18:before {
  content: "18€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--22:before {
  content: "22€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation--23:before {
  content: "23€";
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.dish-select__animation:after {
  content: '\f058';
  font-family: "Font Awesome 5 Free";
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem .9rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #99E2D0;
  opacity: 0;
}

/*I know this is a lot of selectors... but using an id for each dish allows the user
to keep his/her choices (when coming back to a page, the inputs are still checked).
This is important I think, to allow him/her to order at the end.*/
#price1:checked ~ .dish-select__animation:after,
#price2:checked ~ .dish-select__animation:after,
#price3:checked ~ .dish-select__animation:after,
#price4:checked ~ .dish-select__animation:after,
#price5:checked ~ .dish-select__animation:after,
#price6:checked ~ .dish-select__animation:after,
#price7:checked ~ .dish-select__animation:after,
#price8:checked ~ .dish-select__animation:after,
#price9:checked ~ .dish-select__animation:after,
#price10:checked ~ .dish-select__animation:after,
#price11:checked ~ .dish-select__animation:after,
#price12:checked ~ .dish-select__animation:after,
#price13:checked ~ .dish-select__animation:after,
#price14:checked ~ .dish-select__animation:after,
#price15:checked ~ .dish-select__animation:after,
#price16:checked ~ .dish-select__animation:after,
#price17:checked ~ .dish-select__animation:after,
#price18:checked ~ .dish-select__animation:after,
#price19:checked ~ .dish-select__animation:after,
#price20:checked ~ .dish-select__animation:after,
#price21:checked ~ .dish-select__animation:after,
#price22:checked ~ .dish-select__animation:after,
#price23:checked ~ .dish-select__animation:after,
#price24:checked ~ .dish-select__animation:after,
#price25:checked ~ .dish-select__animation:after,
#price26:checked ~ .dish-select__animation:after,
#price27:checked ~ .dish-select__animation:after,
#price28:checked ~ .dish-select__animation:after,
#price29:checked ~ .dish-select__animation:after,
#price30:checked ~ .dish-select__animation:after,
#price31:checked ~ .dish-select__animation:after,
#price32:checked ~ .dish-select__animation:after,
#price33:checked ~ .dish-select__animation:after,
#price34:checked ~ .dish-select__animation:after,
#price35:checked ~ .dish-select__animation:after,
#price36:checked ~ .dish-select__animation:after,
#price37:checked ~ .dish-select__animation:after {
  -webkit-animation: dish-check .3s;
          animation: dish-check .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#price1:checked ~ .dish-select__animation:before,
#price2:checked ~ .dish-select__animation:before,
#price3:checked ~ .dish-select__animation:before,
#price4:checked ~ .dish-select__animation:before,
#price5:checked ~ .dish-select__animation:before,
#price6:checked ~ .dish-select__animation:before,
#price7:checked ~ .dish-select__animation:before,
#price8:checked ~ .dish-select__animation:before,
#price9:checked ~ .dish-select__animation:before,
#price10:checked ~ .dish-select__animation:before,
#price11:checked ~ .dish-select__animation:before,
#price12:checked ~ .dish-select__animation:before,
#price13:checked ~ .dish-select__animation:before,
#price14:checked ~ .dish-select__animation:before,
#price15:checked ~ .dish-select__animation:before,
#price16:checked ~ .dish-select__animation:before,
#price17:checked ~ .dish-select__animation:before,
#price18:checked ~ .dish-select__animation:before,
#price19:checked ~ .dish-select__animation:before,
#price20:checked ~ .dish-select__animation:before,
#price21:checked ~ .dish-select__animation:before,
#price22:checked ~ .dish-select__animation:before,
#price23:checked ~ .dish-select__animation:before,
#price24:checked ~ .dish-select__animation:before,
#price25:checked ~ .dish-select__animation:before,
#price26:checked ~ .dish-select__animation:before,
#price27:checked ~ .dish-select__animation:before,
#price28:checked ~ .dish-select__animation:before,
#price29:checked ~ .dish-select__animation:before,
#price30:checked ~ .dish-select__animation:before,
#price31:checked ~ .dish-select__animation:before,
#price32:checked ~ .dish-select__animation:before,
#price33:checked ~ .dish-select__animation:before,
#price34:checked ~ .dish-select__animation:before,
#price35:checked ~ .dish-select__animation:before,
#price36:checked ~ .dish-select__animation:before,
#price37:checked ~ .dish-select__animation:before {
  -webkit-animation: price-translation .3s;
          animation: price-translation .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes dish-check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes price-translation {
  from {
    right: 1rem;
  }
  to {
    right: 4rem;
  }
}

/*MENUS*/
.main-menu {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -45px;
  z-index: 2;
  background: #f6f6f6;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-menu h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.6rem;
}

.main-menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.cover {
  max-height: 300px;
  width: 100%;
}

.cover img {
  -o-object-fit: cover;
     object-fit: cover;
}

.starters__title,
.dishes__title,
.desserts__title {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  position: relative;
}

.starters__title:after,
.dishes__title:after,
.desserts__title:after {
  content: '';
  height: 3px;
  width: 2.5rem;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -7px;
}

.dish-select {
  -webkit-box-shadow: 1px 1px 10px #88888883;
          box-shadow: 1px 1px 10px #88888883;
  padding-top: 2.4rem;
  padding-bottom: 2.3rem;
  width: 90vw;
  max-height: 4rem;
  margin-bottom: 1.4rem;
  border-radius: 20px;
  position: relative;
}

.dish-select__animation {
  position: absolute;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 90vw;
  max-height: 4rem;
  top: 0;
  left: 0;
  z-index: 2;
}

.dish-select__info {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.dish-select__info h3 {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dish-select__info p {
  font-size: 1rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  width: 230px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.submit__order {
  margin-bottom: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 12rem;
  margin-top: 2rem;
}

/*FLEX BEHAVIORS*/
.card, body, header, header .about, main, main .howto, main .restaurants, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .howto, main .restaurants {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__info, .banner--menu, header .place, header .about, .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*FONTS*/
.starters__title,
.dishes__title,
.desserts__title {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
}

/*BUTTONS*/
.submit__order, .about .explore {
  border-radius: 30px;
  padding: 1.2rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
}

.submit__order:hover, .about .explore:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff8ade), to(#a06be1));
  background: linear-gradient(to bottom right, #ff8ade, #a06be1);
  -webkit-box-shadow: 5px 5px 10px #A0A0A0;
          box-shadow: 5px 5px 10px #A0A0A0;
}

/*BACKGROUNDS*/
.card__img--1, .card__img--2, .card__img--3, .card__img--4 {
  background-size: cover;
}

.card {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  border-radius: 25px;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 5px 5px 13px #c2c0c0;
          box-shadow: 5px 5px 13px #c2c0c0;
  position: relative;
}

.card--new:after {
  content: 'Nouveau';
  padding: .4rem;
  padding-left: .7rem;
  padding-right: .7rem;
  background-color: #99E2D0;
  color: #10725a;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.card__img {
  width: 100%;
  height: 170px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card__img--1 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.card__img--2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.card__img--3 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.card__img--4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card__info h2 {
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.card__info p {
  font-size: 1rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.banner {
  -webkit-box-shadow: 0 0 6px #888888;
          box-shadow: 0 0 6px #888888;
  z-index: 1;
  padding: 1rem;
}

.banner__logo {
  width: 10rem;
  height: auto;
}

.banner--menu {
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 0;
}

.banner__back-button {
  font-size: 1.4rem;
}

/*TABLETS*/
@media screen and (min-width: 765px) {
  .main-menu__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-menu__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-menu__info h1 {
    margin-right: 2rem;
  }
  .starters, .dishes, .desserts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dish-select {
    width: 50vw;
  }
  .dish-select__animation {
    width: 50vw;
  }
  .dish-select__info {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .dish-select__info h3 {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .dish-select__info p {
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    width: 230px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1010px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 5rem;
    -webkit-box-shadow: 0 0 6px #888888;
            box-shadow: 0 0 6px #888888;
    z-index: 1;
  }
  header .place {
    background-color: #f7f7f7;
  }
  header .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  header .about h1 {
    margin-top: 0;
    margin-left: auto;
  }
  header .about h2 {
    display: none;
  }
  header .about .explore {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 1rem;
  }
  .banner {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .banner--menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-menu {
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    border-radius: 0;
  }
  .main-menu--menu1 {
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  }
  .main-menu--menu2 {
    background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  }
  .main-menu--menu3 {
    background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  }
  .main-menu--menu4 {
    background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  }
  .main-menu__info {
    background-color: #f8f6f6c5;
    background-size: cover;
    border-radius: 20px;
    margin: 3rem;
    padding: 1rem;
  }
  .banner__logo--menu {
    margin-left: 2rem;
  }
  .cover {
    display: none;
  }
  .desktop-size {
    width: 50%;
  }
  .submit__order {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .main-index {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .howto {
    width: 40%;
  }
  .restaurants {
    width: 60%;
  }
  .card {
    max-width: 250px;
  }
  .heart-animation:hover {
    background-color: #ff79d934;
  }
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  background: transparent;
}

ul {
  list-style-type: none;
}

header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.place {
  background-color: #e9e9e9;
  padding: .6rem;
  color: rgba(0, 0, 0, 0.658);
}

.place h3 {
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.place__icon {
  margin-right: 1rem;
}

.about {
  background-color: #f7f7f7;
}

.about h1 {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.about h2 {
  font-size: 1rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  text-align: center;
  margin-bottom: 3rem;
}

.about .explore {
  margin-bottom: 3rem;
}

main .howto {
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

main .restaurants {
  background-color: #f7f7f7;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}

.howto h1 {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  counter-reset: stepnumber;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f7f7f7;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 13px #c2c0c0;
          box-shadow: 5px 5px 13px #c2c0c0;
  position: relative;
}

.step h3 {
  font-size: 0.9rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.step:before {
  content: counter(stepnumber);
  counter-increment: stepnumber;
  background-color: #9356DC;
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-left: .6rem;
  padding-right: .6rem;
  border-radius: 50%;
  color: white;
  font-size: .7rem;
  position: absolute;
  left: -10px;
}

.step__icon {
  color: rgba(0, 0, 0, 0.637);
  font-weight: bold;
  font-size: 1.3rem;
}

.step__icon--color {
  color: #9356DC;
}

.step--color {
  background-color: #ece1f9;
}

.restaurants h1 {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
/*# sourceMappingURL=style.css.map */