@mixin font($size : .6rem, $weight: $thin){
    font-size: $size;
    font-weight: $weight;
    font-family: 'Roboto', sans-serif;
}

@mixin shadow($boxshadow : 5px 5px 10px $shadow){
    box-shadow: $boxshadow;
}

@mixin linear-gradient($percentage-color1, $percentage-color2){
  background: $secondary;
  background: linear-gradient(to top, $secondary $percentage-color1, #fff $percentage-color2);
  background-size: auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin price($price){
  content: $price;
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  @include font(1rem, $bold);
}