@import 'mixins', 'extensions';

/*HEART ANIMATION*/

.heart-animation{
    cursor: pointer;
    background: white;
    -webkit-background-clip : text;
    background-clip: text;
    /*I don't know if I can use it, because it is not standard but I checked on caniuse and it seems ok...*/
    -webkit-text-fill-color : transparent;
    font-size: 1.5rem;
}

#heart1:checked ~ .heart-animation,
#heart2:checked ~ .heart-animation,
#heart3:checked ~ .heart-animation,
#heart4:checked ~ .heart-animation,
#heart-menu-1:checked ~ .heart-animation,
#heart-menu-2:checked ~ .heart-animation,
#heart-menu-3:checked ~ .heart-animation,
#heart-menu-4:checked ~ .heart-animation
{
    animation: like .4s;
    animation-timing-function: linear;
    background: linear-gradient(to top, $secondary 96%, #fff 96%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
.heart-animation{
    position: relative;
    &:after{
    content: '\f004';
    font-family: "Font Awesome 5 Free";
    font-size: 1.6rem;
    color: white;
    background: #393939;
    -webkit-background-clip : text;
    background-clip: text;
    -webkit-text-fill-color : transparent;
    position: absolute;
    left: -1px;
    top: -2px;
    }
}
  
input{
    display: none;
}
  
@keyframes like{
    0%{
      @include linear-gradient(0%, 0%);
    }
    
    25%{
      @include linear-gradient(25%, 25%);
    }
    
    50%{
      @include linear-gradient(50%, 50%);
    }
    
    75%{
      @include linear-gradient(75%, 75%);
    }
    
    100%{
      @include linear-gradient(100%, 100%);
    } 
}

/*LOADING SPINNER*/

.loading{
  height: 200vh;
  width: 100%;
  animation: loading_background 3.8s;
  animation-timing-function: ease-out;
  position: absolute;
  z-index: 2;
  animation-fill-mode: forwards;

  &__spinner{
    animation: loading_spinner 1s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
    top: 270px;
    margin-left: auto;
    margin-right: auto;
    left: 80px;
    right: 0;
    will-change: transform;
  }
}


@keyframes loading_background{
  0%{
    background: rgb(0, 0, 0);
    opacity: 0.8;
  }
  25%{
    background: rgb(0, 0, 0);
    opacity: 0.8;
  }
  50%{
    background: rgb(0, 0, 0);
    opacity: 0.2;
    /*z-index: 1;
    -> my first idea was to use z-index and decrease it to make it disapear,
    but it was jerky and some elements seemed to pop up because of their z-index which were higher*/
  }
  75%{
    background: rgb(0, 0, 0);
    opacity: 0.1;
    /*z-index: 0;*/
  }
  100%{
    background: rgb(0, 0, 0);
    opacity: 0;
    height: 0;
  }
}

@keyframes loading_spinner{
  0%{
    border: 8px solid $tertiary;
    border-bottom-color: $primary;
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100%{
    border: 8px solid $tertiary;
    border-bottom-color: $primary;
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

/*SLIDE-UP FOR STARTERS, DISHES AND DESSERTS SECTIONS*/

.starters{
  animation: slide-up 2s;
}

.dishes{
  animation: slide-up 4s;
}

.desserts{
  animation: slide-up 6s;
}

@keyframes slide-up{
  from{
    transform: translateY(200px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

/*DISH SELECTION*/

.dish-select__animation{
  cursor: pointer;
  position: relative;
  &--25{
    &:before{
      @include price('25€')
    }
  }
  &--35{
    &:before{
      @include price('35€')
    }
  }
  &--20{
    &:before{
      @include price('20€')
    }
  }
  &--40{
    &:before{
      @include price('40€')
    }
  }
  &--44{
    &:before{
      @include price('44€')
    }
  }
  &--18{
    &:before{
      @include price('18€')
    }
  }
  &--22{
    &:before{
      @include price('22€')
    }
  }
  &--23{
    &:before{
      @include price('23€')
    }
  }
  &:after{
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem .9rem;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    opacity: 0;
  }
}

#price1:checked ~ .dish-select__animation:after,
#price2:checked ~ .dish-select__animation:after,
#price3:checked ~ .dish-select__animation:after,
#price4:checked ~ .dish-select__animation:after,
#price5:checked ~ .dish-select__animation:after,
#price6:checked ~ .dish-select__animation:after,
#price7:checked ~ .dish-select__animation:after,
#price8:checked ~ .dish-select__animation:after,
#price9:checked ~ .dish-select__animation:after,
#price10:checked ~ .dish-select__animation:after,
#price11:checked ~ .dish-select__animation:after,
#price12:checked ~ .dish-select__animation:after,
#price13:checked ~ .dish-select__animation:after,
#price14:checked ~ .dish-select__animation:after,
#price15:checked ~ .dish-select__animation:after,
#price16:checked ~ .dish-select__animation:after,
#price17:checked ~ .dish-select__animation:after,
#price18:checked ~ .dish-select__animation:after,
#price19:checked ~ .dish-select__animation:after,
#price20:checked ~ .dish-select__animation:after,
#price21:checked ~ .dish-select__animation:after,
#price22:checked ~ .dish-select__animation:after,
#price23:checked ~ .dish-select__animation:after,
#price24:checked ~ .dish-select__animation:after,
#price25:checked ~ .dish-select__animation:after,
#price26:checked ~ .dish-select__animation:after,
#price27:checked ~ .dish-select__animation:after,
#price28:checked ~ .dish-select__animation:after,
#price29:checked ~ .dish-select__animation:after,
#price30:checked ~ .dish-select__animation:after,
#price31:checked ~ .dish-select__animation:after,
#price32:checked ~ .dish-select__animation:after,
#price33:checked ~ .dish-select__animation:after,
#price34:checked ~ .dish-select__animation:after,
#price35:checked ~ .dish-select__animation:after,
#price36:checked ~ .dish-select__animation:after,
#price37:checked ~ .dish-select__animation:after{
  animation: dish-check .3s;
  animation-fill-mode: forwards;
}

#price1:checked ~ .dish-select__animation:before,
#price2:checked ~ .dish-select__animation:before,
#price3:checked ~ .dish-select__animation:before,
#price4:checked ~ .dish-select__animation:before,
#price5:checked ~ .dish-select__animation:before,
#price6:checked ~ .dish-select__animation:before,
#price7:checked ~ .dish-select__animation:before,
#price8:checked ~ .dish-select__animation:before,
#price9:checked ~ .dish-select__animation:before,
#price10:checked ~ .dish-select__animation:before,
#price11:checked ~ .dish-select__animation:before,
#price12:checked ~ .dish-select__animation:before,
#price13:checked ~ .dish-select__animation:before,
#price14:checked ~ .dish-select__animation:before,
#price15:checked ~ .dish-select__animation:before,
#price16:checked ~ .dish-select__animation:before,
#price17:checked ~ .dish-select__animation:before,
#price18:checked ~ .dish-select__animation:before,
#price19:checked ~ .dish-select__animation:before,
#price20:checked ~ .dish-select__animation:before,
#price21:checked ~ .dish-select__animation:before,
#price22:checked ~ .dish-select__animation:before,
#price23:checked ~ .dish-select__animation:before,
#price24:checked ~ .dish-select__animation:before,
#price25:checked ~ .dish-select__animation:before,
#price26:checked ~ .dish-select__animation:before,
#price27:checked ~ .dish-select__animation:before,
#price28:checked ~ .dish-select__animation:before,
#price29:checked ~ .dish-select__animation:before,
#price30:checked ~ .dish-select__animation:before,
#price31:checked ~ .dish-select__animation:before,
#price32:checked ~ .dish-select__animation:before,
#price33:checked ~ .dish-select__animation:before,
#price34:checked ~ .dish-select__animation:before,
#price35:checked ~ .dish-select__animation:before,
#price36:checked ~ .dish-select__animation:before,
#price37:checked ~ .dish-select__animation:before{
  animation: price-translation .3s;
  animation-fill-mode: forwards;
}

@keyframes dish-check{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    background-color: $tertiary;
  }
}

@keyframes price-translation{
  from{
    right: 1rem;
  }
  to{
    right: 4rem;
  }
}