@import 'mixins';

/*FLEX BEHAVIORS*/

%column {
	display: flex;
	flex-direction: column;
}

%flexstart {
	align-items: flex-start;
}

%center {
    align-items: center;
}

/*FONTS*/

%logofont {
    font-family: 'Shrikhand', cursive;
    font-size: 1.5rem;
}

%uppercase{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
}

/*BUTTONS*/

%submit{
    border-radius:30px;
    padding: 1.2rem;
    background:linear-gradient(to bottom right, $secondary, $primary);
    color:white;
    border:none; cursor:pointer;
    @include font(1rem, $bold);
    @include shadow;
    margin-bottom: 3rem;

    &:hover{
        background:linear-gradient(to bottom right, hsl(317, 100%, 77%),hsl(267, 66%, 65%));
        @include shadow(5px 5px 10px $shadowhover);
    }
}