@import 'extensions', 'mixins', 'animations';

/*MENUS*/

.main-menu{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -45px;
    z-index: 2;
    background: #f6f6f6;
    padding-left: 1rem;
    padding-right: 1rem;

    h1{
        font-family: 'Shrikhand', cursive;
        font-size: 1.6rem;
    }

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }
}

.cover{
    max-height: 300px;
    width: 100%;
    img{
        object-fit: cover;
    }
}

.starters,
.dishes,
.desserts{
    &__title{
    @extend %uppercase;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    position: relative;
    &:after{
        content:'';
        height: 3px;
        width: 2.5rem;
        background: $tertiary;
        position: absolute;
        left: 0;
        bottom: -7px;
        }
    }
}

.dish-select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include shadow(1px 1px 10px #88888883);
    padding: 1rem;
    max-height: 4rem;
    margin-bottom: 1.4rem;
    border-radius: 20px;

    &__info{
        h3{
            @include font(1.2rem, $bold);
            width: 240px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        p{
            @include font(1rem, $thin);
            width: 230px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &__price{
        align-self: flex-end;
        @include font(1rem, $bold);
    }
}

.submit__order{
    @extend %submit;
    align-self: center;
    width: 12rem;
    margin-top: 2rem;
}

