@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

%column {
	display: flex;
	flex-direction: column;
}

%flexstart {
	align-items: flex-start;
}

%center {
    align-items: center;
}

%logofont {
    font-family: 'Shrikhand', cursive;
    font-size: 1.5rem;
}

$thin: 100;
$bold: 700;

@mixin font($size : 1rem, $weight: $thin){
    font-size: $size;
    font-weight: $weight;
    font-family: 'Roboto', sans-serif;
}

* {
    margin:0;
    padding:0;
}

body{
    @extend %column;
}

header{
    @extend %column;
    .banner{
        @extend %column;
        @extend %center;
    }
    .place{
        @extend %column;
        @extend %center;
        background-color: #e9e9e9;
        padding:.6rem;
    }
    .about{
        @extend %column;
        @extend %center;
    }
}

.banner{
    width:100vw;
    box-shadow: 0 0 6px #888888;
    z-index:1;
    padding:1rem;

    &__logo{
        width:50vw;
        height:auto;
    }

}

.about{
    h1{
        @include font(1.5rem, $bold);
    }
    h2{
        @include font(1.5rem, $thin);
    }
}

.submit{
    border-radius:25px;
    padding:20px;
    background:linear-gradient(to bottom right, #FF79DA,#9356DC);
    color:white;
    border:none; cursor:pointer;
    box-shadow: 5px 5px 10px #888888;

    &:hover{
        background:linear-gradient(to bottom right, hsl(317, 100%, 77%),hsl(267, 66%, 65%));
        box-shadow: 5px 5px 10px #A0A0A0
    }
}

main{
    @extend %column;
    .howto{
        @extend %column;
        @extend %flexstart;
    }
    .restaurants{
        @extend %column;
        @extend %flexstart;
    }
}

.card{
    @extend %column;
}



