@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'), url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap'), 'variables', 'extensions', 'mixins', 'footer';

* {
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

body{
    @extend %column;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

header{
    @extend %column;
    
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .place{
        display: flex;
        @extend %center;
        justify-content: center;
    }

    .about{
        @extend %column;
        @extend %center;
    }
}

.banner{
    box-shadow: 0 0 6px #888888;
    z-index:1;
    padding:1rem;

    &__logo{
        width: 10rem;
        height: auto;
    }

    &--menu{
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }

    &__back-button{
        width: 3rem;
    }

}

.flex-logo{
    display: flex;
}



.place{
    background-color: #e9e9e9;
    padding:.6rem;
    color: rgba(0, 0, 0, 0.658);

    h3{
        @include font(1rem, $bold);
    }

    &__icon{
        margin-right: 1rem;
    }

}

.about{
    background-color: $lightbackground;

    h1{
        @include font(1.4rem, $bold);
        margin-top: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    h2{
        @include font(1rem, $thin);
        margin-top: 1rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    .explore{
        @extend %submit;
    }
}


main{
    @extend %column;
    
    .howto{
        @extend %column;
        @extend %flexstart;
        margin-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .restaurants{
        @extend %column;
        @extend %flexstart;
        background-color: $lightbackground;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 3rem;
    }
}

.howto{
    h1{
        @include font(1.4rem, $bold);
        margin-bottom: 1.5rem;
        margin-top: 3rem;
    }
}

.container{
    align-self:center;
    @extend %column;
    @extend %center;
    counter-reset: stepnumber;
}

.step{
    display: flex;
    justify-content: space-around;
    background-color: $lightbackground;
    padding: 1.5rem;
    text-align: center;
    width:100%;
    margin-bottom: 1rem;
    border-radius: 20px;
    @include shadow(5px 5px 13px rgb(194, 192, 192));
    position: relative;

    h3{
        @include font(.9rem, $bold);
    }

    &:before{
        content: counter(stepnumber);
        counter-increment: stepnumber;
        background-color: $primary;
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: .6rem;
        padding-right: .6rem;
        border-radius: 50%;
        color: white;
        font-size: .7rem;
        position: absolute;
        left: -10px;
    }

    &__icon{
        color: rgba(0, 0, 0, 0.637);
        font-weight: bold;
        font-size: 1.3rem;

        &--color{
            color: $primary;
        }
    }

    &--color{
        background-color: lighten($primary, 33);
    }

}

.restaurants{
    h1{
        @include font(1.4rem, $bold);
        margin-bottom: 1.5rem;
        margin-top: 3rem;
    }
}


.card{
    @extend %column;
    align-self: center;
    width: 90%;
    border-radius: 25px;
    margin-bottom: 1.5rem;
    @include shadow(5px 5px 13px rgb(194, 192, 192));
    position: relative;

    &--new{

        &:after{
            content: 'Nouveau';
            padding: .4rem;
            padding-left: .7rem;
            padding-right: .7rem;
            background-color: $tertiary;
            color: #10725a;
            position: absolute;
            top : 1rem;
            right: 1rem;
            border-radius: 5px;
            @include font(.8rem, $bold);
        }
        
    }

    &__img{
        width: 100%;
        height: 170px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

        &--1{
            background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            background-size: cover;
        }

        &--2{
            background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            background-size: cover;
        }

        &--3{
            background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            background-size: cover;
        }

        &--4{
            background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            background-size: cover;
        }
    }

    &__info{

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        /*position: relative;*/
        
        h2{
            @include font(1rem, $bold);
        }

        p{
            @include font(1rem, $thin);
        }
    }
}

label{
    cursor: pointer;
    background: white;
    -webkit-background-clip : text;
    -webkit-text-fill-color : transparent;
    font-size: 1.5rem;
  }
  
#heart1:checked ~ label,
#heart2:checked ~ label,
#heart3:checked ~ label,
#heart4:checked ~ label,
#heart-menu-3:checked ~ label
{
    animation: like .4s;
    animation-timing-function: linear;
    background: linear-gradient(to top, $secondary 96%, #fff 96%);
    background-size: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
label{
    position: relative;
    &:after{
    content: '\f004';
    font-family: "Font Awesome 5 Free";
    font-size: 1.6rem;
    color: white;
    background: #393939;
    -webkit-background-clip : text;
    -webkit-text-fill-color : transparent;
    position: absolute;
    left: -1px;
    top: -2px;
    }
}
  
input{
    display: none;
}
  
@keyframes like{
    0%{
      @include linear-gradient(0%, 0%);
    }
    
    25%{
      @include linear-gradient(25%, 25%);
    }
    
    50%{
      @include linear-gradient(50%, 50%);
    }
    
    75%{
      @include linear-gradient(75%, 75%);
    }
    
    100%{
      @include linear-gradient(100%, 100%);
    } 
}


.main-menu{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -45px;
    z-index: 2;
    background: #f6f6f6;
    padding-left: 1rem;
    padding-right: 1rem;

    h1{
        font-family: 'Shrikhand', cursive;
        font-size: 1.8rem;
    }

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }
}

.starters,
.dishes,
.desserts{
    &__title{
    @extend %uppercase;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    position: relative;
    &:after{
        content:'';
        height: 3px;
        width: 2.5rem;
        background: $tertiary;
        position: absolute;
        left: 0;
        bottom: -7px;
    }
    }
}

.dish-select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include shadow(1px 1px 10px #88888883);
    padding: 1rem;
    margin-bottom: 1.4rem;
    border-radius: 20px;

    &__info{
        h3{@include font(1.2rem, $bold);}
        p{@include font(1rem, $thin);}
    }

    &__price{
        align-self: flex-end;
        @include font(1rem, $bold);
    }
}

.submit__order{
    @extend %submit;
    align-self: center;
    width: 12rem;
    margin-top: 2rem;
}